<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Blog Article
  screenshotPath: ../../images/thumbnails/Blog.jpg
-->  

{% extends '../layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  <div class="body-container body-container--blog-post">
						
			{# HERO START #}
   {% module "module_16470322805712" path="../../modules/Exuberant Article Hero", label="Exuberant Article Hero" %}
   {# HERO END #}

      <div class="row-fluid">
         <div class="container">
            {% module "ebook-section" label="Ebook Section", path="../../modules/Inner_Post - Blog hero" %}
        </div>
    </div>
    
    
    
    <div class="row-fluid">
    <div class="container">
      
           <div class="blog-section">
    <div class="blog-post-wrapper cell-wrapper">
       <div class="blog-section">
            <div class="blog-post-wrapper cell-wrapper post-inner-two">
            
              
              <div class="inner-post-body">
                <div class="section post-body">
                    {{ content.post_body }}
                </div>
                {% if content.topic_list %}
                     <p id="hubspot-topic_data" > <span>Topics: </span> &nbsp;
                        
                        {% for topic in content.topic_list %}
                          <a class="topic-link" href="{{ blog_tag_url(group.id, topic.slug) }}">{{ topic.name }}</a>{% if not loop.last %},{% endif %}
                        {% endfor %}
                     </p>
                {% endif %}
                
                
                
                
                
             </div>
          </div>   
            
        </div>
    </div>
</div>

      
      
      </div>
      
      
    </div>
    
   
    
    
      <div class="row-fluid related-post">
         <div class="container">
            
            {% module "Related_Articles" label="Related Articles", path="../../modules/Related_Articles - Blog" %}
        </div>
    </div>
    
    
    
    

  </div>
</main>
{% endblock body %}
